<!DOCTYPE html>
<html lang="en">
<head>

  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">
  <!-- Responsive -->
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Google Fonts -->
  <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,700,700i|Raleway:300,400,500,700,800" rel="stylesheet">

  <!-- Bootstrap CSS File -->
  <link href="lib/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Libraries CSS Files -->
  <link href="lib/font-awesome/css/font-awesome.min.css" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

  <!-- Main CSS -->
  <link rel="stylesheet" href="css/application.css">
  <!-- Icon -->
  <link rel=icon href=lib/img/favicon.ico>


  <title>Andrew Grzegorek</title>
</head>
<body>
  <div id="preloader"></div>
    <section id="hero">
      <div class="hero-container">
        <div class="wow fadeIn">
          <div class="hero-logo">
            <img class="" src="lib/img/logo.png" alt="Imperial">
          </div>

          <h1>Andrew Grzegorek</h1>
          <h3>Full-Stack Web Developer</h3>
          <h2>Creating <span class="rotating">functional websites, useful code, clever solutions, hilarious jokes, ...ok–bad jokes</span></h2>
          <div class="actions">
            <a href="lib/Resume_GRZEGOREK_Andrew.pdf" download class="btn-get-started">Résumé</a>
            <a href="mailto:andrewgrz@gmail.com?subject=Hi Andrew!&body=Hey Andrew,%0D%0A%0D%0ANot only do I really like your site, but I also find you irresitably attractive. Do you smell like vanilla and pine-forest campfires?" class="btn-services">Email Me</a>
          </div>
        </div>
      </div>
    </section>

    <!-- header -->

    <header id="header">
    <div class="container">

      <div id="logo" class="pull-left">
        <a href="#hero"><img src="lib/img/logo.png" alt="" title="" /></img></a>
        <!-- Uncomment below if you prefer to use a text image -->
        <!--<h1><a href="#hero">Header 1</a></h1>-->
      </div>

      <nav id="nav-menu-container">
        <ul class="nav-menu">
          <li class="menu-active"><a href="#hero">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#services">Skills</a></li>
          <li><a href="#portfolio">Projects</a></li>
          <li><a href="#testimonials">Testimonials</a></li>
          <li><a href="#team">More</a></li>
          <!-- Dropdown Menu -->
          <li class="menu-has-children"><a href="">Links</a>
            <ul>
              <li><a href="https://github.com/agrzegorek">GitHub</a></li>
              <li><a href="https://www.linkedin.com/in/agrzegorek/">LinkedIn</a></li>
              <li><a href="https://www.facebook.com/profile.php?id=9349527">Facebook</a></li>
              <li><a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">YouTube</a></li>
              <li><a href="lib/Resume_GRZEGOREK_Andrew.pdf" download class="btn-get-started">Résumé</a></li>
            </ul>
          </li>
          <li><a href="#contact">Contact</a></li>
        </ul>
      </nav>
      <!-- #nav-menu-container -->
    </div>
  </header>
  <!-- #header -->

    <!--==========================
    About Section
    ============================-->
    <section id="about">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">About Me</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">My name is Andrew Grzegorek <i>(pronounced Gre-gore-ick)</i> and I love solving problems as much as I love silent Z's in last names.</p>
          </div>
        </div>
      </div>
      <div class="container about-container wow fadeInUp">
        <div class="row">
          <div class="col-md-6 col-md-push-6 about-content">
            <h2 class="about-title" style="text-align:center">Attitude is everything.</h2>
            <p class="about-text">
              I believe attitude is the most important factor in determining successful team members. What's my attitude? I try to approach every day with enthusiasm and positivity, but not quite to the point where I have dumb, cursive phrases embroidered on throw pillows.
            </p>
            <p class="about-text">
              Always first to lighten the mood, I thrive in diverse, collaborative teams that are eager to tackle the next problem. I love working with people to get things done.
            </p>
            <p class="about-text">
                  Originally from the east coast, I was raised in Lancaster, Pennsylvania and attended Penn State University. After graduating, I flew to Los Angeles and thought I'd never leave. But now I live in Texas, and the idea of cowboy boots is growing on me.
            </p>
            <div class="section-title-divider"></div>
            <h4 class="about-title" style="text-align: center">Check Me Out</h4>
            <div class="col-md-2"></div>
            <div class="social-icons list-inline col-md-9">
              <a href="https://github.com/agrzegorek"><i class="fa fa-github animateIcon" aria-hidden="true"></i></a>
              <a href="https://www.linkedin.com/in/agrzegorek/"><i class="fa fa-linkedin-square animateIcon" aria-hidden="true"></i></a>
              <a href="https://www.facebook.com/profile.php?id=9349527"><i class="fa fa-facebook-official animateIcon" aria-hidden="true"></i></a>
              <a href="lib/Resume_GRZEGOREK_Andrew.pdf" download><i class="fa fa-file-text animateIcon" aria-hidden="true"></i></a>
              <a href="tel:1-323-710-2707"><i class="fa fa-phone animateIcon" aria-hidden="true"></i></a>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
    Services Section
    ============================-->
    <section id="services">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Skills</h3>
            <div class="section-title-divider"></div>
            <p class="section-description"></p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-2"></div>
          <div class="col-md-5 service-item">
            <div class="service-icon"><i class="fa fa-desktop"></i></div>
            <h4 class="service-title">Ruby<br>Ruby on Rails<br>JavaScript<br>Ajax<br>sinatra</h4>
            <!-- <p class="service-description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint occaecati cupiditate non provident</p> -->
          </div>
          <div class="col-md-5 service-item">
            <div class="service-icon"><i class="fa fa-object-group"></i></div>
            <h4 class="service-title">HTML<br>CSS<br>jquery<br>bootstrap<br>Responsive Design</h4>
            <!-- <p class="service-description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat tarad limino ata</p> -->
          </div>
          <div class="col-md-2"></div>
          <div class="col-md-5 service-item">
            <div class="service-icon"><i class="fa fa-cube"></i></div>
            <h4 class="service-title">SQLite3<br>PostgreSQL<br>Active Record<br>heroku<br>API's</h4>
            <!-- <p class="service-description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur</p> -->
          </div>
          <div class="col-md-5 service-item">
            <div class="service-icon"><i class="fa fa-cogs"></i></div>
            <h4 class="service-title">Agile Workflow<br>Git<br>Rspec<br>Jasmine<br>Photoshop</h4>
            <!-- <p class="service-description">Ruby. JavaScript.</p> -->
          </div>
          <!-- <div class="col-md-4 service-item">
            <div class="service-icon"><i class="fa fa-road"></i></div>
            <h4 class="service-title"><a href="">Nemo Enim</a></h4>
            <p class="service-description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti atque</p>
          </div>
          <div class="col-md-4 service-item">
            <div class="service-icon"><i class="fa fa-shopping-bag"></i></div>
            <h4 class="service-title"><a href="">Eiusmod Tempor</a></h4>
            <p class="service-description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum soluta nobis est eligendi</p>
          </div> -->
        </div>
      </div>
    </section>

    <!--==========================
    Subscrbe Section
    ============================-->
    <section id="subscribe">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-8">
            <h3 class="subscribe-title">Like What You See?</h3>
            <p class="subscribe-text">Be one of the dozens of people who have emailed me on purpose!</p>
          </div>
          <div class="col-md-4 subscribe-btn-container">
            <a class="subscribe-btn" href="mailto:andrewgrz@gmail.com?subject=Hi Andrew!&body=Hey Andrew,%0D%0A%0D%0ANot only do I really like your site, but I also find you irresitably attractive. Do you smell like vanilla and pine-forest campfires?">Email Me</a>
          </div>
        </div>
      </div>
    </section>

    <!--==========================
    Porfolio Section
    ============================-->
    <section id="portfolio">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Projects</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">A developer's work is never done, but check out some my past projects.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(lib/img/portfolio-1.png);" href="http://ag-256.herokuapp.com/">
              <div class="details">
                <h4>256: A 2048 Clone</h4>
                <i class="fa fa-link" aria-hidden="true"></i>
                <span>A copycat of the popular tile game, 2048, built mostly with Javascript and jQuery</span>
              </div>
            </a>
          </div>

          <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(lib/img/portfolio-2.png);" href="https://sharingspace.herokuapp.com/">
              <div class="details">
                <h4>Share Space</h4><br>
                <i class="fa fa-link" aria-hidden="true"></i>
                <span>A mobile-first site designed for users to reserve and rent out office space: Airbnb for work spaces</span>
              </div>
            </a>
          </div>

          <!-- <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(lib/img/portfolio-3.jpg);" href="">
              <div class="details">
                <h4>Portfolio 3</h4>
                <span>Alored dono par</span>
              </div>
            </a>
          </div> -->

          <div class="col-md-3">
            <a class="portfolio-item" style="background-image: url(lib/img/portfolio-4.png);" href="https://github.com/agrzegorek/React-YouTube-Clone">
              <div class="details">
                <h4>YouTube Clone</h4>
                <i class="fa fa-link" aria-hidden="true"></i>
                <span>Using YouTube's API, this lightweight version of YouTube was built with React using Node (incomplete)</span>
              </div>
            </a>
          </div>

        </div>
      </div>
    </section>

    <!--==========================
    Testimonials Section
    ============================-->
    <section id="testimonials">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Testimonials</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">Don't just take my word for it. Hear from the people who know me best.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="lib/img/client-1.png" alt=""></div>
              <h4>Performance Review - 2016</h4>
              <span>SGG Immigration</span>
            </div>
          </div>
          <div class="col-md-9">
            <div class="quote">
              <b><img src="lib/img/quote_sign_left.png" alt=""></b> Communication is one of Andrew's strongest attributes. He has the ability to communicate with peers, attorneys, and management without being authoritative or disrespectful. Andrew is a team player and understands how to help others in times of need. <small><img src="lib/img/quote_sign_right.png" alt=""></small>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-md-9">
            <div class="quote">
              <b><img src="lib/img/quote_sign_left.png" alt=""></b>I don't know. It seems kind of unprofessional to quote me on your site. Also, it's your turn to clean the litter box. <small><img src="lib/img/quote_sign_right.png" alt=""></small>
            </div>
          </div>
          <div class="col-md-3">
            <div class="profile">
              <div class="pic"><img src="lib/img/client-2.png" alt=""></div>
              <h4>Olivia</h4>
              <span>Girlfriend</span>
            </div>
          </div>
        </div>

      </div>
    </section>

    <!--==========================
    Team Section
    ============================-->
    <section id="team">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">More</h3>
            <div class="section-title-divider"></div>
            <p class="section-description">My internet yoga instructor says that I'm a beautiful, multifaceted gem of a person. Who am I to say she's wrong? I'm also a...</p>
          </div>
        </div>

        <div class="row">
          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="lib/img/team-1.png" alt=""></div>
              <h4>Music Lover</h4>
            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="lib/img/team-2.png" alt=""></div>
              <h4>Nature Enthusiast</h4>
            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="lib/img/team-3.png" alt=""></div>
              <h4>Woodworker</h4>
            </div>
          </div>

          <div class="col-md-3">
            <div class="member">
              <div class="pic"><img src="lib/img/team-4.png" alt=""></div>
              <h4>Former Child</h4>
              <!-- <span>Accountant</span> -->
            </div>
          </div>

        </div>
      </div>
    </section>

    <!--==========================
    Contact Section
    ============================-->
    <section id="contact">
      <div class="container wow fadeInUp">
        <div class="row">
          <div class="col-md-12">
            <h3 class="section-title">Contact Me</h3>
            <div class="section-title-divider"></div>
            <!-- <p class="section-description">Say hi!</p> -->
          </div>
        </div>
          <div class="col-md-12 col-md-push-2">
            <div class="info list-inline">
              <i class="fa fa-envelope"><a href="mailto:andrewgrz@gmail.com"> andrewgrz@gmail.com</a></i>
              <i class="fa fa-phone"><a href="tel:1-323-710-2707"> 323-710-2707</a></i>
              <i class="fa fa-map-marker"><a href="https://www.google.com/maps/place/Austin,+TX/@30.3079823,-97.8938283,11z/data=!3m1!4b1!4m5!3m4!1s0x8644b599a0cc032f:0x5d9b464bd469d57a!8m2!3d30.267153!4d-97.7430608"> Austin, Tx</a></i>
            </div>
          </div>
    </section>

    <!--==========================
    Footer
  ============================-->
    <footer id="footer">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <div class="copyright">
              <strong>Andrew Grzegorek</strong> | Full-Stack Web Developer | All Rights Reserved
            </div>

          </div>
        </div>
      </div>
    </footer>
    <!-- #footer -->

  <a href="#" class="back-to-top"><i class="fa fa-chevron-up"></i></a>

  <!-- Required JavaScript Libraries -->
  <script src="lib/jquery/jquery.min.js"></script>
  <script src="lib/bootstrap/js/bootstrap.min.js"></script>
  <script src="lib/superfish/hoverIntent.js"></script>
  <script src="lib/superfish/superfish.min.js"></script>
  <script src="lib/morphext/morphext.min.js"></script>
  <script src="lib/wow/wow.min.js"></script>
  <script src="lib/stickyjs/sticky.js"></script>
  <script src="lib/easing/easing.js"></script>

  <!-- Template Specisifc Custom Javascript File -->
  <script src="js/custom.js"></script>

  <!-- <script src="contactform/contactform.js"></script> -->
</body>

</html>
